<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ir" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordovaIR</name>
    <js-module name="CordovaIR" src="www/cordovaIR.js">
        <clobbers target="cordova.plugins.ir" />
    </js-module>
    <platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="IRManager">
				<param name="android-package" value="CordovaIR.IRManager"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
		    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		    <uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.TRANSMIT_IR"/>
			<uses-permission android:name="android.permission.VIBRATE"/>
		</config-file>
		
		<source-file src="src/android/IRManager.java" target-dir="src/CordovaIR"/>
		<source-file src="src/android/utils/AppliantTypeUtils.java" target-dir="src/CordovaIR/utils"/>
		<source-file src="src/android/TiqiaaCommonSDK.jar" target-dir="libs/" />
		<framework src="com.android.support:support-v4:23.3.0+" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="IRManager">
				<param name="ios-package" value="IRManager"/>
    			<param name="onload" value="true" />
			</feature>
		</config-file>

		<config-file target="*-Info.plist" parent="NSAppTransportSecurity">
		    <dict>
		        <key>NSAllowsArbitraryLoads</key>
		        <true/>
		    </dict> 
		</config-file>

		<source-file src="src/ios/IRManager.m" compiler-flags="-Idemo/Plugins/tiqiaasdk"/>
		<source-file src="src/ios/tiqiaasdk"/>
		<source-file src="src/ios/AFNetworking"/>
		<source-file src="src/ios/tiqiaasdk/libtiqiaasdk.a" framework="true" />
		<source-file src="src/ios/libsqlite3.tbd" framework="true" />
		<source-file src="src/ios/libz.1.tbd" framework="true" />
	</platform>
</plugin>
